<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Overview of all the posts</title>
</head>

<body>
<a href="/logout">Log out</a>

<p>Hey <%= user_info.user_name %>, these are the actions you can take:</p>
<ul>
  <li><a href="/create-post">Create post</a></li>
  <li><a href="/<%= user_info.user_name %>/posts">An overview of all your posts</a></li>
</ul>

<% for(let i = 0 ; i < data.length ; i++) { %>
  <h1><%= data[i].dataValues.post_title %></h1>
  <p><%= data[i].dataValues.post_body %></p>
  <p><%= data[i].dataValues.post_id %></p>
  <a href="/post/<%= data[i].dataValues.post_id %>">See comments</a>
  <hr>
<% } %>

</body>

</html>
